[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "third_party/OpenXR-SDK"]
	path = third_party/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "third_party/libarchive"]
	path = third_party/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "third_party/perfetto"]
	path = third_party/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
